
#wrapper {
    background-color: rgb(85, 226, 226);}
body, h1, p{
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
}
#suchok {
    background-color: #f1074e;
    border-bottom:  1px solid black;
    height: 80px;
}
#menu {
    background-color: aquamarine;
    float: left;
    width: 150px;
}

main {
    background-color: aliceblue;
    border-left: 1px solid black;
    margin-left: 150px;
    padding: 10px;
}
#footer {
    background-color: blue;
    border-top: saddlebrown;
}